@import "~bulma/sass/utilities/_all";

$family-serif: 'Open Sans', sans-serif;

// Use the new serif family
$family-primary: $family-serif;

$button-color: #ea6728;


@import "~bulma";

p {
    line-height: 1.6em;
}

.callToAction {
    padding: 1rem;

    .descrizione {
        font-style: italic;
        color: $orangePratiche;
        font-weight: bold
    }
    .button {
        background-color: #ea6728;
        color: #ffffff;
        font-size: 110%;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
            color: #ffffff;
            background-color: #f87a13;
        }

        &:visited {
            color: #ffffff;
            background-color: #f87a13;
        }
    }

}

img {

}
